.cal-date .dot {
    color: var(--black);
    border: 2px solid var(--white);
    transition: 0.25s;
}

.cal-date p:hover {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--black);
}

.selected .dot {
    border: 2px solid var(--pink);
    background-color: var(--pink);
    color: var(--black);
}

#cal-month {
    width:85%;
    height: 85%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
}

.cal-date {
    text-align: center;
    vertical-align: middle;
}

.event-date .dot {
    border: 2px solid var(--purple);
    border: 2px solid var(--purple);
}

.dot {
    margin: auto;
    top: 50%;
    left: 50%;
    width:50px;
    height: 50px;
    line-height: 50px;  
    border-radius: 50%;
    cursor: pointer;
}

.today .dot {
    background-color: var(--purple);
    border: 2px solid var(--purple);
    color: var(--white);

}

.calendar_area {
    text-align: center;
}

.calendar-tools {
    width: 100%;
    align-items: center;
    padding-bottom: 25px;
}

.calendar-tools div {
    display: inline-block;
}

.calendar-tools div span {
    display: inline-block;
}

#back-btn {
    width: auto;
}

#forward-btn {
    width: auto;
}

.calendar-tools div button {
    text-decoration: none;
    border-radius: 10%;
    font-size: 1rem;
    border: none;
    padding: 0 20px;
    color: var(--purple);
    background-color: var(--white);
    font-weight: bold;
}

#calendar-current {
    margin: auto;
    padding: 0 10%;
    font-size: 1.5rem;
    font-weight: 700;
}

#no-events {
    width: 100%;
    font-size: 1rem;
}

.date-picker {
    text-align: center;
    border: none;
    border: 2px solid var(--white);
    transition: 0.25s;
}

.date-picker:hover {
    border: 2px solid var(--purple);
    cursor: pointer;
}

.hide-calendar .ui-datepicker-calendar {
    display:none!important;
    visibility:hidden!important;
}