
.cal-date .dot {
    color: var(--black);
    transition: 0.25s;
}

.cal-date p:hover {
    background-color: var(--purple);
    color: var(--white);
}

.selected .dot {
    background-color: var(--purple);
    color: var(--white);
}




/* .event-date {
    text-decoration: underline;
} */


#cal-month {
    width:100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
}

.cal-date {
    text-align: center;
    vertical-align: middle;
}

/* .outer-dot {
    margin: auto;
    top: 50%;
    left: 50%;
    width:60px;
    height: 60px;
    background-color: brown;
    line-height: 60px;  
    border-radius: 50%;
} */

.dot {
    /* position: absolute; */
    margin: auto;
    top: 50%;
    left: 50%;
    width:50px;
    height: 50px;
    /* background-color: brown; */
    line-height: 50px;  
    border-radius: 50%;
    cursor: pointer;
}

.today .dot {
    background-color: var(--purple);
    color: var(--white);

}

.calendar-tools {
    width: 100%;
    align-items: center;
}

.calendar_area {
    text-align: center;
}

.calendar-tools div {
    display: inline-block;
}

.calendar-tools div span {
    display: inline-block;
}

#back-btn {
    width: auto;
}

#forward-btn {
    width: auto;
}

.calendar-tools div button {
    text-decoration: none;
    border-radius: 10%;
    font-size: 1rem;
    border: none;
    padding: 10px 20px;
    color: var(--purple);
    background-color: var(--white);
    font-weight: bold;
}

#calendar-current {
    margin: auto;
    padding: 0 10%;
    font-size: 1.5rem;
    font-weight: 700;
}

#no-events {
    width: 100%;
    font-size: 1rem;
}
