* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

:root {
    /* Main Palette */
    --white: #FFF;
    --black: #000;
    --purple: #712177;
    --pink: #F7F2F7;
    --red: #E94867;
    --green: #4AA233;
    --yellow: #FF7914;
}

main {
    height: 90%;
    display: flex;
    justify-content: space-between;
}


.button {
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--white);
    color: var(--purple);
    border: solid var(--purple) 2px;
    transition: 0.25s;
}

.button:hover {
    background-color: var(--purple);
    color: var(--white);
}

.event_icon {
    height: 15px;
    width: auto;
    fill: var(--white);
}

/* Navigation bar */

nav {
    min-height: 10%;
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 75px;

    display: flex;
    justify-content: space-between;
}

nav .page_title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9rem;
}

nav .user_profile {
    display: flex;
    justify-content: center;
}

nav .user_picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

nav .user_notification {
    /* Position and shape */
    position: relative;
    right: 10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    /* Colour */
    background-color: var(--yellow);
    /* Font */
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Calendar area */

.calendar_area {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 100%;
    padding: 50px;
}

.calendar {
    /* background-color: #DDD; */
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

/* Event Task area */
.task_area {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.task_area_title {
    font-weight: 800;
    margin-bottom: 25px;
}

.task_lists {
    height: 100%;
    display: flex;
    justify-content:space-between ;
}

.task_list {
    background-color: var(--white);
    width: 32%;
    height: 100%;
    padding: 1%;
    border: solid var(--black) 5px;
}

.task_area #todo {
    border-color: var(--red);
}

.task_area #in_progress {
    border-color: var(--yellow);
}

.task_area #complete {
    border-color: var(--green);
}


.task_header {
    font-weight: 700;
}

.task_column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.task_item {
    margin: 3% 0 3%;
    padding: 3%;
    background-color: var(--white);
    border: solid var(--black) 2px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.task_item:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Events area */

.event_info {
    background-color: var(--black);
    width: 35%;
    height: 100%;
    padding: 50px;
    color: var(--white);
}

.events_area {
    background-color: var(--black);
    width: 35%;
    height: 100%;
    padding: 50px;
    color: var(--white);
}

.event_name {
    font-weight: 700;
    margin-bottom: 50px
}

.event_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}

.event_summary {
    margin-bottom: 50px;
    font-weight: 600;
}

.event_description {
    margin-bottom: 50px;
}

.event_participants ul {
    list-style-position: outside;
    padding-left: 5%;
}

.participants_title {
    font-weight: 600;
    margin: 20px 0;
}

.events_area .events_day {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.events_area .events_list {
    display: flex;
    flex-direction: column;
}

.events_area .event_box {
    background-color: var(--white);
    padding: 20px;
    transition: 0.25s;
    margin-bottom: 20px;
    color: var(--black);
}

.events_area .event_box:hover {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
}

.events_area .single_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.events_area .single_title {
    font-size: 1.25rem;
    font-weight: 600;
}

.events_area .button {
    visibility: hidden;
    opacity: 0.0;
}

.events_area .single_description {
    font-size: 1.15rem;
    margin: 10px 0;
}

.events_area .single_footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.1rem;
}

/* Navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 100px 0;
    text-align:center;
}

.sidenav a {
    padding: 15px 500px 25px 500px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color:var(--purple);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 56px;
    margin-left: 50px;
    cursor: pointer;
}

.sidenav .closebtn:hover img {
    height: 25px;
    width: auto;
    transform: rotate(0deg);
    transition: 0.25s;
}

.sidenav .closebtn:hover img {
    transform: rotate(-90deg);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}