* {
    font-family: 'Maven Pro', sans-serif;
}

html, body {
    height: 100%;
}

:root {
    /* Main Palette */
    --white: #FFF;
    --grey: #999;
    --grey-hover: #AAA;
    --black: #333;
    --purple: #8B57B4;
    --purple-hover: #724894;
    --red: #F00;
}

main {
    height: 90%;
    display: flex;
    justify-content: space-between;
}


.button {
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--purple);
    color: var(--white);
    transition: 0.25s;
}

.button:hover {
    background-color: var(--purple-hover);
}

.event_icon {
    height: 15px;
    width: auto;
    fill: var(--white);
}

/* Navigation bar */

nav {
    min-height: 10%;
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 75px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav .page_title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.9rem;
}

nav .user_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .user_name {
    font-size: 1.25rem;
    padding-right: 15px;
}

nav .user_profile {
    display: flex;
    justify-content: center;
}

nav .user_picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

nav .user_notification {
    /* Position and shape */
    position: relative;
    right: 10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    /* Colour */
    background-color: var(--red);
    /* Font */
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Calendar area */

.calendar_area {
    background-color: var(--white);
    color: var(--black);
    width: 65%;
    height: 100%;
    padding: 75px;
}

.calendar {
    /* background-color: #DDD; */
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

/* Event Task area */
.task_area {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 100%;
    padding: 75px;
    display: flex;
}

.task {
    background-color: #DDD;
    width: 33%;
    height: 100%;
    border-radius: 25px;
    margin: 1%;
}

.event_area {
    background-color: var(--black);
    width: 35%;
    height: 100%;
    padding: 60px;
    color: var(--white);
    position: relative;
}

.event_description {
   margin-top: 10%;
}

.task_header {
    padding: 5%;
    font-weight: bolder;
    text-align: center;
}

.event_head {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.event_name {
    position: absolute;
    top: 5%;
    left: 10%;
}

.taskList li {
    margin-top: 10%;
    width: 90%;
    padding: 8px;
}

/* Events area */

.events_area {
    background-color: var(--black);
    width: 35%;
    height: 100%;
    padding: 75px;
    color: var(--white);
}

.events_area .events_day {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.events_area .events_list {
    display: flex;
    flex-direction: column;
}

.events_area .event_box {
    background-color: var(--grey);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
    margin-bottom: 20px;
}

.events_area .event_box:hover {
    background-color: var(--grey-hover);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
}

.events_area .single_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.events_area .single_title {
    font-size: 1.25rem;
    font-weight: 600;
}

.events_area .button {
    visibility: hidden;
    opacity: 0.0;
}

.events_area .single_description {
    font-size: 1.15rem;
    margin: 10px 0;
}

.events_area .single_footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.1rem;
}

/* Navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #AC6DE0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 56px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}