<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Admin</title>

    <!-- Styling -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/style.css">


</head>

<body>

    <nav>

        <!-- Current view -->
        <div class="page_title">Profile</div>

        <!-- User header area -->
        <div class="user_header">
            <div class="user_name">Michael Ellis</div>
            <div class="user_profile">
                <img src="src/img/user.jpg" alt="Profile Picture" class="user_picture">
                <div class="user_notification">3</div>
            </div>
        </div>

    </nav>

    <main>
        <ul class="task" style="list-style-type: none;"> 
            <li><div class="user_header">
                <div class="user_profile">
                    <img src="src/img/user.jpg" alt="Profile Picture" class="user_picture">
                    <div class="user_name">Michael Ellis</div>
                </div>
            </div></li>

            <li><div class="events_single">

                    <div class="single_header">
                        <div class="single_title">Open Day</div> 
                    </div>

                    <div class="single_footer">
                        <div class="single_time">
                            <img src="src/icon/time.svg" class="event_icon" alt="clock">
                            <span>10am - 3pm, 17th July</span>
                        </div>
                        <div class="single_location">
                            <img src="src/icon/location.svg" class="event_icon" alt="location">
                            <span>Sir Ian Wood</span>
                        </div>
                    </div></li>

            <li><div class="events_single">

                    <div class="single_header">
                        <div class="single_title">Robot Workshop</div>
                    </div>

                    <div class="single_footer">
                        <div class="single_time">
                            <img src="src/icon/time.svg" class="event_icon" alt="clock">
                            <span>10am - 3pm, 17th July</span>
                        </div>
                        <div class="single_location">
                            <img src="src/icon/location.svg" class="event_icon" alt="location">
                            <span>Sir Ian Wood</span>
                        </div>
                    </div></li>

                    <li><div class="events_single">

                            <div class="single_header">
                                <div class="single_title">A Cool Lecture</div>
                            </div>
        
                            <div class="single_footer">
                                <div class="single_time">
                                    <img src="src/icon/time.svg" class="event_icon" alt="clock">
                                    <span>1am - 1pm, 34th October</span>
                                </div>
                                <div class="single_location">
                                    <img src="src/icon/location.svg" class="event_icon" alt="location">
                                    <span>RGU swimming pool</span>
                                </div>
                            </div></li>
        </ul> 

        
        
        <!-- Events Area -->
        <div class="events_area">

            <div class="events_day">Notifications</div>

            <!-- Event List -->
            <div class="events_list">

                <!-- Single event -->
                <div class="events_single">

                    <div class="single_description">Anne Elk commented on: Prepare Speaker Notes Rgu Open Day</div>

                </div>

                <div class="events_single">
     
                    <div class="single_description">John Smith commented on: Prepare Robot Boxes Robot Workshop</div>
    
                </div>

            </div>

        </div>
    </main>
    
</body>




</html>