<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event</title>

    <!-- Styling -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/style.css">

</head>
<body>

    <nav>

        <!-- Current view -->
        <div class="page_title">Event Manager</div>

        <!-- User header area -->
        <div class="user_header">
            <div class="user_name">Michael Ellis</div>
            <div class="user_profile">
                <img src="src/img/user.jpg" alt="Profile Picture" class="user_picture">
                <div class="user_notification">3</div>
            </div>
        </div>

    </nav>

    <main>

    <!-- Event Task area -->
    <div class="task_area">

        <!-- Tasks -->
        <div class="task">
            <!-- To do tasks-->
        </div>
        <div class="task">
            <!-- In progress tasks-->
        </div>
        <div class="task">
            <!-- completed tasks-->
        </div>
    </div>

        <!-- Events Area -->
        <div class="event_area">

            <div class="event_day">Event Name</div>
            <div class="single_footer">
                <div class="single_time">
                    <img src="src/icon/time.svg" class="event_icon" alt="clock">
                    <span>10am - 3pm</span>
                </div>
                <div class="single_location">
                    <img src="src/icon/location.svg" class="event_icon" alt="location">
                    <span>Sir Ian Wood</span>
                </div>
            </div>

            <!-- Event List -->
            <!-- Event Desctiption and Participants -->
            <div class="event_description">
                 Open day for incoming and potential students
            </div>
            <div class="event_description">
                Our Open Days are an opportunity to start an educational journey which not only provides you with detailed 
                subject knowledge but also to become a skilled, capable graduate who is prepared for the world of work.
            </div>
            <div class="event_description">
                    Participants:
                        - Michael Ellis
                        - Boaty McBoatface
                        - Henry Wensleydale
            </div>
        </div>

    </main>

    <!-- JS -->

</body>
</html>